{
  "general": {
    "customer_name": "{{ customer_name }}",
    "bucket_name": "{{ bucket_name }}",
    "site_name": "{{ site_name }}",
    "gateway_name": "{{ gateway_name }}"
  },
  "database": {
    "host": "{{ database['host'] }}",
    "port": "{{ database['port'] }}",
    "schema": "{{ database['schema'] }}",
    "username": "{{ database['username'] }}"
  },
  "s3": {
    "encryption": {
      "Rules": [
        {
          "ApplyServerSideEncryptionByDefault": {
            "SSEAlgorithm": "AES256"
          }
        }
      ]
    },
    "lambda_permissions": [
      {
        "FunctionName": "arn:aws:lambda:us-east-1:286214959794:function:s3_data_etl",
        "StatementId": "{{ bucket_name }}-{{ uuid }}-{{ etl_lambda_qualifier }}",
        "Action": "lambda:InvokeFunction",
        "Principal": "s3.amazonaws.com",
        "SourceArn": "arn:aws:s3:::{{ bucket_name }}",
        "SourceAccount": "286214959794",
        "Qualifier": "{{ etl_lambda_qualifier }}"
      }
    ],
    "events": {
      "LambdaFunctionConfigurations": [
        {
          "Id": "s3_data_etl_heartbeat",
          "LambdaFunctionArn": "arn:aws:lambda:us-east-1:286214959794:function:s3_data_etl:{{ etl_lambda_qualifier }}",
          "Events": [
            "s3:ObjectCreated:Put"
          ],
          "Filter": {
            "Key": {
              "FilterRules": [
                {
                  "Name": "prefix",
                  "Value": "{{ site_name }}/heartbeat.unixtimestamp"
                }
              ]
            }
          }
        }{% if etl_tables %},{% endif %}

        {% for table in etl_tables %}
        {
          "Id": "{{ table }}_etl",
          "LambdaFunctionArn": "arn:aws:lambda:us-east-1:286214959794:function:s3_data_etl:{{ etl_lambda_qualifier }}",
          "Events": [
            "s3:ObjectCreated:Put"
          ],
          "Filter": {
            "Key": {
              "FilterRules": [
                {
                  "Name": "prefix",
                  "Value": "{{ site_name }}/{{ table }}/"
                }
              ]
            }
          }
        }{% if not loop.last %},{% endif %}

        {% endfor %}
      ]
    }
  },
  "iot": {
    "thing_name": "{{ gateway_name }}_Core",
    "cert_policy": {
      "Version": "2012-10-17",
      "Statement": [
        {
          "Effect": "Allow",
          "Action": [
            "iot:Publish",
            "iot:Subscribe",
            "iot:Connect",
            "iot:Receive"
          ],
          "Resource": [
            "*"
          ]
        },
        {
          "Effect": "Allow",
          "Action": [
            "iot:GetThingShadow",
            "iot:UpdateThingShadow",
            "iot:DeleteThingShadow"
          ],
          "Resource": [
            "*"
          ]
        },
        {
          "Effect": "Allow",
          "Action": [
            "greengrass:*"
          ],
          "Resource": [
            "*"
          ]
        }
      ]
    }
  },
  "greengrass": {
    "gateway_hardware": {
      "connection": {
        "host": "{{ gateway_connection['host'] }}",
        "port": {{ gateway_connection['port'] }},
        "user": "{{ gateway_connection['user'] }}",
        "pwd": "{{ gateway_connection['pwd'] }}",
        "key_path": "{{ gateway_connection['key_path'] }}"
      },
      "ggc_path": "{{ ggc_path }}",
      "ggc_config": {
        "coreThing": {
          "caPath": "root.ca.pem",
          "certPath": "",
          "keyPath": "",
          "thingArn": "",
          "iotHost": "alps0oc9fcddm-ats.iot.us-east-1.amazonaws.com",
          "ggHost": "greengrass-ats.iot.us-east-1.amazonaws.com"
        },
        "runtime": {
          "cgroup": {
            "useSystemd": "yes"
          }
        },
        "managedRespawn": true
      }
    },
    "thing_connectivity": [
      {
        "HostAddress": "127.0.0.1",
        "Id": "{{ gateway_name }}-local-v4",
        "PortNumber": 8883
      },
      {
        "HostAddress": "::1",
        "Id": "{{ gateway_name }}-local-v6",
        "PortNumber": 8883
      }
    ],
    "role_arn": "{{ role_arn }}",
    "definitions": {
      "group_id": "",
      "logger_def_id": "",
      "resource_def_id": "",
      "function_def_id": "",
      "subscription_def_id": "",
      "core_def_id": "",
      "core_def_version_arn": ""
    },
    "loggers": [
      {
        "Component": "GreengrassSystem",
        "Id": "{{ gateway_name }}-system-logger",
        "Level": "INFO",
        "Space": {{ logger_size }},
        "Type": "FileSystem"
      },
      {
        "Component": "Lambda",
        "Id": "{{ gateway_name }}-lambda-logger",
        "Level": "INFO",
        "Space": {{ logger_size }},
        "Type": "FileSystem"
      }
    ],
    "resources": [
      {
        "Id": "{{ gateway_name }}-cache-volume",
        "Name": "cache_volume",
        "ResourceDataContainer": {
          "LocalVolumeResourceData": {
            "GroupOwnerSetting": {
              "AutoAddGroupOwner": false
            },
            "DestinationPath": "/var/cache/gateway_cache",
            "SourcePath": "/var/cache/gateway_cache"
          }
        }
      }{% if tty_ports %},{% endif %}

      {% for port in tty_ports %}
      {% set port_name = port.split('/')[-1] %}
      {
        "Id": "{{ gateway_name }}-{{ port_name }}",
        "Name": "{{ port_name }}",
        "ResourceDataContainer": {
          "LocalDeviceResourceData": {
            "GroupOwnerSetting": {
              "GroupOwner": "dialout"
            },
            "SourcePath": "{{ port }}"
          }
        }
      }{% if not loop.last %},{% endif %}

      {% endfor %}
    ],
    "subscriptions": [
      {
        "Id": "{{ gateway_name }}-ssh-tunnel",
        "Source": "arn:aws:lambda:us-east-1:286214959794:function:gateway-tunnel:{{ greengrass_lambda_qualifier }}",
        "Subject": "{{ gateway_name }}/ssh-tunnel",
        "Target": "cloud"
      },
      {
        "Id": "{{ gateway_name }}-ssh-tunnel-invoke",
        "Source": "cloud",
        "Subject": "{{ gateway_name }}/ssh-tunnel/invoke",
        "Target": "arn:aws:lambda:us-east-1:286214959794:function:gateway-tunnel:{{ greengrass_lambda_qualifier }}"
      }
    ],
    "functions": [
      {
        "Id": "{{ gateway_name }}-gateway-reader",
        "FunctionArn": "arn:aws:lambda:us-east-1:286214959794:function:gateway-reader:{{ greengrass_lambda_qualifier }}",
        "FunctionConfiguration": {
          "EncodingType": "json",
          "Environment": {
            "AccessSysfs": false,
            "ResourceAccessPolicies": [
              {
                "Permission": "rw",
                "ResourceId": "{{ gateway_name }}-cache-volume"
              }{% if tty_ports %},{% endif %}

              {% for port in tty_ports %}
              {% set port_name = port.split('/')[-1] %}
              {
                "Permission": "rw",
                "ResourceId": "{{ gateway_name }}-{{ port_name }}"
              }{% if not loop.last %},{% endif %}

              {% endfor %}
            ],
            "Variables": {
              "GATEWAY": "{{ gateway_name }}",
              "CONNECTOR": "connector.s3.Connector",
              "CONNECTOR_KWARGS": "{\"bucket_name\": \"{{ bucket_name }}\"}",
              "SITE": "{{ site_name }}",
              "DEVICE_SCHEMA": "{{ device_schema|tojson|safe|replace('"', '\\"') }}"
            }
          },
          "Executable": "main.handler",
          "MemorySize": 128000,
          "Pinned": true,
          "Timeout": 30
        }
      },
      {
        "Id": "{{ gateway_name }}-gateway-tunnel",
        "FunctionArn": "arn:aws:lambda:us-east-1:286214959794:function:gateway-tunnel:{{ greengrass_lambda_qualifier }}",
        "FunctionConfiguration": {
          "EncodingType": "json",
          "Environment": {
            "AccessSysfs": false,
            "Variables": {
              "GATEWAY": "{{ gateway_name }}"
            }
          },
          "Executable": "main.handler",
          "MemorySize": 128000,
          "Pinned": true,
          "Timeout": 30
        }
      }
    ]
  }
}